body {
    font-size: 14px;
    background: #f2ebe3;
    font-family: 'Montserrat', sans-serif;
    color: #6c7289;
}

.attribution {
    clear: both;
    padding: 0;
}

.content {
    overflow: auto;
    border-radius: 10px;
    background: white;
    width: 600px;
    height: 440px;
    margin: 80px auto;
}

#perfume {
    float: left;
    width: 300px;
    height: 440px;
    border-radius: 10px 0 0 10px;
}



#info {
    width: 225px;
    height: 440px;
    float: left;
    padding-left: 30px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 5.5px;
    font-weight: lighter;
    font-size: 10px;
    margin-top: 30px;
}

h1 {
    font-family: 'Fraunces', serif;
    color: #1c232b;
    font-size: 30px;
    line-height: 30px;
    margin: 20px 0;
}

.description {
    line-height: 25px;
}

.offer {
    font-family: 'Fraunces', serif;
    color: #3c8067;
    float: left;
    margin: auto;
}

.regular {
    text-decoration: line-through;
    color: inherit;
    font-size: inherit;
    float: left;
    margin: 5px 25px;
    font-weight: lighter;
}

.cart {
    background: #3c8067;
    border-radius: 10px;
    height: 50px;
    width: 240px;
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
    border: none;
}

.cart-icon {
    width: 15px;
    height: 16px;
    margin-right: 12px;
    margin-left: 60px; 
}

p span {
    color: white;
    text-align: center;
    font-size: 14px;
}

.prices {
    margin: 30px 0;
}

p{
    margin: 0;
}